.header {
    background-color: black;
    height: 10vh;
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 682px) {
    .header {
        font-size: 2rem;
        height: 5vh;
    }
}
